html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --gris-claro-color: #cccbcc;
}

main {
  & .intro-section {
    display: flex;
    position: relative;
    height: 40dvh;
    z-index: 2;

    & > picture {
      display: flex;
      width: 100%;
      height: 100%;
      /* max-width: 730px; */

      & img {
        /* width: 100%;
        height: 40dvh;
        object-fit: cover; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
      }
    }

    > h3 {
      font-size: clamp(1.45rem, 4vw, 3.5rem);
      font-weight: 800;
      color: white;
      width: 100%;
      max-width: 80%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 25%;
      left: 50%;
      text-align: center;
      text-wrap-style: pretty;
      > span {
        color: #97e15b;
      }
    }
  }

  & .info-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    & .info-container {
      background-color: #fff;
      flex-basis: 75%;
      max-width: 1050px;
      margin: -80px auto 0;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      z-index: 10;
      box-shadow: 0 5px 5px #ccc;
      position: relative;

      & .promo {
        position: absolute;
        background: #afe065;
        color: #033f35;
        height: 22px;
        top: -21px;
        left: 0;
        width: 100%;
        font-size: clamp(0.7em, 1.5vw, 1.4em);
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
      }

      & .logo {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 15px 0px;
        border-right: 0px solid var(--gris-claro-color);
        border-bottom: 0px solid var(--gris-claro-color);
        order: 1;

        & picture {
          width: 70%;
          margin: 0.5rem auto;
          display: flex;

          & img {
            display: inline-block;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            width: 100%;
          }
        }
      }

      & .info {
        border-top: 1px solid var(--gris-claro-color);
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        order: 3;

        & .rows {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          margin-left: auto;
          margin-right: auto;

          & .status,
          & .location,
          & .rooms,
          & .size {
            border-bottom: 1px solid var(--gris-claro-color);
            display: flex;
            padding: 0 5px;
            text-align: center;
            align-items: center;
            flex-basis: 50%;
            max-width: 50%;
            width: 100%;
            color: #0e3f35;
          }

          & .status {
            & h3 {
              font-size: clamp(0.75em, 2.5vw, 3em);
              font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;
            }
          }

          & .location {
            border-left: 1px solid var(--gris-claro-color);
            min-height: 3.5rem;

            & p {
              display: flex;
              align-items: center;
              margin: 5px 0;

              & svg {
                width: 18px;
                min-width: 18px;
                margin: 0 3px;
              }

              & span {
                text-align: left;
                font-size: clamp(0.7rem, 1.5vw, 3rem);
                text-wrap-style: pretty;
                font-weight: 500;
                font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;

                & strong {
                  text-wrap-style: pretty;
                }
              }
            }
          }

          & .rooms {
            min-height: 3.5rem;

            & > div {
              display: flex;
              flex-flow: row wrap;

              & svg {
                width: 22px;
                min-width: 22px;
                margin: 0 3px;
                fill: #0e3f35;
              }

              & p {
                padding-left: 0.5rem;
                text-align: left;
                font-size: clamp(0.7em, 2.8vw, 1em);
                font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;

                & strong {
                  text-transform: uppercase;
                }
              }
            }
          }

          & .size {
            border-left: 1px solid var(--gris-claro-color);
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            min-height: 3.5rem;

            & svg {
              width: 22px;
              min-width: 22px;
              margin: 0 3px;
            }

            & > div {
              padding-left: 0.5rem;
              display: flex;

              & p {
                font-size: clamp(0.75em, 2.8vw, 1em);
                font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;
                text-align: left;

                & strong {
                  text-transform: uppercase;
                }

                &:last-of-type {
                  padding-left: 1rem;
                }
              }
            }
          }

          & .pricing {
            justify-content: flex-start;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: 100%;
            padding: 0 5px;
            flex-basis: 100%;
            max-width: 100%;
            height: 3rem;

            & > div {
              display: flex;
              margin: auto;
              color: #0e3f35;
              align-items: center;

              & p {
                font-size: clamp(0.8rem, 1.5vw, 1rem);
                font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;
              }

              & h3 {
                font-size: clamp(1.1rem, 4vw, 1.5rem);
                font-size: clamp(0.65rem, 1.25vw, 1.15rem) !important;
                margin-left: 0.5rem;
              }
            }
          }
        }
      }

      & .financia {
        order: 2;
        padding: 0 15px;
        flex-basis: 50%;
        max-width: 50%;
        width: 100%;
        border-left: 1px solid var(--gris-claro-color);

        & > div {
          margin-left: auto;
          margin-right: auto;
          position: relative;
          width: 100%;

          & p {
            font-size: clamp(0.7em, 1.5vw, 3em);
            color: #0e3f35;
            margin: 7px 0;
            font-size: clamp(0.65rem, 1.2vw, 1.15rem) !important;
          }

          & picture {
            display: flex;
            overflow: hidden;
            margin: 5px auto 1rem;

            & img {
              width: 90%;
              max-width: 90%;
              margin: 0 auto;
              object-fit: contain;
              height: auto;
            }
          }
        }
      }
    }
  }

  & .intro-container2 {
    display: none;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -98px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
    max-width: 1260px;

    & picture {
      width: 100%;
      grid-column: 1 / 2;
      height: 100%;
      display: flex;
      padding: 2em 3em;
      border-right: 3px #dedede solid;
      align-items: center;
      justify-content: center;
      min-width: 200px;

      & img {
        width: 100%;
        height: auto;
        max-height: 115px;
        object-fit: contain;
      }
    }

    & .info {
      grid-column: 2 / 3;
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100%;

      & .top {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 500;
        color: #0e3f35;

        & .top_status {
          font-size: 1.3rem;
          font-weight: 600;
        }

        & div {
          border-right: 3px #dedede solid;
          width: 50%;
          display: flex;
          align-items: center;
          padding: 0.5rem 1rem;
          gap: 16px;

          & svg {
            width: 32px;
            height: auto;
          }
        }

        & span {
          text-wrap-style: pretty;
          font-size: 1.1rem;
          font-weight: 600;
        }
      }

      & .bottom {
        display: grid;
        font-size: 13px;
        grid-template-columns: repeat(3, 1fr);
        color: #0e3f35;

        & > div {
          line-height: 1.5;
          border-right: 3px #dedede solid;
          border-top: 3px #dedede solid;
          display: flex;
          align-items: center;
          font-weight: 600;
          padding: 0.5rem 1.5rem;
          font-size: 1.18rem;
        }

        & .rooms {
          gap: 10px;
          display: flex;
          justify-content: center;

          & svg {
            width: 40px;
            height: auto;
            fill: #0e3f35;
          }

          & div {
            font-size: 20px;
            & span {
              font-weight: 600;
              text-transform: uppercase;
            }
            & P {
              font-weight: 400;
            }
          }
        }

        & .size {
          gap: 18px;
          display: flex;
          justify-content: center;

          & p {
            font-size: 20px;
            font-weight: 400;
            & span {
              font-weight: 600;
              text-transform: uppercase;
            }
          }

          & svg {
            width: 40px;
            height: auto;
          }
        }

        & .pricing {
          font-size: 20px;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          & span {
            font-weight: 600;
            font-size: 1.5rem;
          }
        }
      }
    }

    & .financia {
      grid-column: 3 / 4;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding: 1em 1.5em;
      height: 100%;
      color: #0e3f35;
      font-size: 20px;
      font-weight: 500;

      & p {
        font-size: 1.3rem;
      }

      & img {
        width: 100%;
        max-height: 112px;
        height: auto;
      }
    }
  }

  /* SECCIÓN INFORMACIÓN DEL PROYECTO */
  & .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    /* max-height: 90vh; */
    position: relative;

    /* &::after {
      position: absolute;
      z-index: 0;
      content: "";
      left: 40px;
      top: -115px;
      width: 250px;
      height: 480px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/turquoise-arrow.png);
      opacity: .3;
    } */

    & h2 {
      color: #525252;
      font-weight: 400;
      font-size: clamp(1rem, 3vw, 1.4rem);
      width: 100%;
      max-width: 1250px;

      & span {
        color: #033f35;
        font-weight: 600;
      }
    }

    & .content {
      width: 100%;
      display: flex;
      margin-top: 2em;
      height: 807px;
      max-width: 1250px;
      max-height: 65vh;
      z-index: 2;

      & picture {
        width: 100%;
        max-width: 730px;
        display: flex;
        overflow: hidden;
        border-top-right-radius: 25px;

        & img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          height: auto;
        }
      }

      & .areas-container {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & > span {
          font-size: clamp(1rem, 3vw, 1.4rem) !important;
          font-weight: 700;
          color: #033f35;
          width: 100%;
          line-height: 1.2 !important;
          padding-left: 48px;
        }

        & h3 {
          font-size: clamp(1rem, 3vw, 1.4rem) !important;
          font-weight: 400;
          width: 100%;
          color: #033f35;
          padding-left: 48px;

          & > span {
            font-weight: 600;
          }
        }

        & .areas {
          width: 100%;
          padding-left: 48px;
          display: flex;
          gap: 4px;
          margin-top: 2em;
          flex-flow: row wrap;

          & .areas-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0.2rem;
            justify-content: flex-start;
            flex-basis: 24% !important;
            max-width: 24% !important;

            & img {
              width: 45% !important;
              height: 100% !important;
              object-fit: contain;
            }

            & span {
              font-size: clamp(0.7rem, 1vw, 1rem) !important;
              color: #525252;
              text-align: center;
              line-height: 1.3 !important;
            }
          }
        }
      }
    }

    & .options-container {
      display: flex;
      width: 100%;
      max-width: 1250px;

      & .actions {
        background: #0e3f35;
        display: flex;
        width: 80%;
        padding: 1.5em 2.5em;
        justify-content: space-between;
        align-items: center;

        & h3 {
          color: #97e15b;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          font-weight: 300;

          & span {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
          }
        }

        & button {
          background-color: #033f35;
          color: white;
          font-weight: 600;
          padding: 0.5rem 2rem;
          border-radius: 35px;
          max-width: 350px;
          display: block;
          width: auto;
          margin-left: auto;
          /* margin-right: auto; */
          transition: all 0.3s ease;
          font-size: 1rem;
          white-space: nowrap;
          text-align: center;
          cursor: pointer;
          border: 1px white solid;
          -webkit-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
          -moz-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
          box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);

          &:active {
            transform: scale(0.95);
          }

          &:hover {
            color: #033f35;
            background-color: white;
          }
        }
      }

      & .download-brochure {
        background: #97e15b;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 1em;
        border: none;
        gap: 10px;
        cursor: pointer;

        & span {
          font-weight: 500;
          font-size: 14px;
          color: #0e3f35;
          text-align: left;
          width: 80px;
        }
      }
    }
  }

  & .recorrido-section {
    padding-top: 70px;

    & > iframe {
      width: 75%;
      height: 75dvh;
      margin: 0 auto;
      display: flex;
      border-radius: 36px;
    }

    & .iframe-options {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin: 20px 0;

      & button {
        background-color: #0e3f35;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 35px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: none;

        &:hover {
          background-color: #afe065;
          color: #fff;
          transform: translateY(-2px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        &:focus {
          outline: none;
        }

        &.active {
          background-color: #97e15b;
          /* Verde claro cuando está activo */
          color: #fff;
          transform: scale(1.05);
        }
      }
    }

    & .iframe-soil {
      & iframe {
        width: 75%;
        height: 75dvh;
        margin: 0 auto;
        display: flex;
        border-radius: 36px;
      }
    }
  }

  /* SECCIÓN ASESORES */

  & .asesores-section {
    & h2 {
      font-size: clamp(1rem, 3vw, 1.4rem);
      color: #0e3f35;
      margin: 80px auto;
      max-width: 1400px;
      width: 70%;
    }

    & .asesores-article__container {
      margin: 50px 10%;
      display: flex;
      justify-content: center;
      gap: 42px;
      flex-wrap: wrap;

      & .article {
        background: #edf3f6;
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 2rem;
        border-radius: 51px;
        overflow: hidden;
        width: 450px;
        max-width: 520px;
        position: relative;
        /* max-width: 450px; */
        /* opacity: 0.23; */

        /* &::before {
          content: '';
          display: block;
          width: 25px;
          height: 50px;
          background-image: url('../img/lazo-asesores.png');
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          right: 1em;
        } */

        & picture {
          border-radius: 9999px;
          min-width: 112px;
          min-height: 112px;
          overflow: hidden;
          width: 112px;
          height: 112px;
          /* filter: drop-shadow(0px 5px 10px #00000030); */
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;

          & .article-img {
            width: 100%;
            height: auto;
            object-fit: contain;
            /* transform: translateY(12px);
            scale: 1.2; */
          }
        }

        & div {
          .name {
            color: #033f35;
            display: block;
            font-size: clamp(1rem, 3vw, 1.4rem);
            width: 100%;
            font-weight: 700;
          }

          & .cargo {
            margin-top: 3px;
            color: #033f35;
            display: block;
            font-weight: 600;
            font-size: 14px;
          }

          & .email_container {
            margin-top: 16px;
            align-items: center;
            display: flex;

            /* justify-content: space-between; */
            & img {
              width: 26px;
              height: 17px;
              margin-right: 1rem;
            }

            & span {
              color: #033f35;
              font-weight: 500;
              font-size: 16px;
            }
          }

          & .phone_container {
            margin-top: 17.17px;
            align-items: center;
            display: flex;

            & img {
              margin-right: 10px;
            }

            /* justify-content: space-between; */
            & span {
              color: #033f35;
              font-weight: 500;
              font-size: 16px;
            }
          }

          & .asesor-contact-button {
            margin-top: 1rem;
            background-color: #033f35;
            color: white;
            font-weight: 600;
            padding: 0.5rem 2rem;
            border-radius: 35px;
            max-width: 350px;
            display: block;
            width: fit-content;
            /* margin-left: auto; */
            margin-right: auto;
            transition: all 0.3s ease;
            font-size: 1rem;
            white-space: nowrap;
            text-align: center;
            cursor: pointer;
            border: none;
            -webkit-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
            -moz-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
            box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);

            &:active {
              transform: scale(0.95);
            }

            &:hover {
              color: #033f35;
              background-color: white;
            }
          }
        }
      }
    }
  }

  .map-section {
    padding: 0;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e3efc6;

    > .map-section__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      max-width: 1050px;
      width: 80%;
      padding: 1rem 0;
      margin: 0 auto;
      position: relative;
      z-index: 10;

      > .map-data {
        text-align: center;
        width: 100%;
        max-width: 400px;
        color: #033f35;

        > span {
          margin-bottom: 1.5rem;
          font-size: 12px;
          display: block;
          color: #033f35;

          text-align: left;
        }

        > h2 {
          color: #033f35;
          margin: 3.5rem 0;
          font-size: clamp(1rem, 3vw, 1.4rem);
          font-weight: 600;
          text-align: left;
          display: flex;
          flex-direction: column;
          text-wrap-style: pretty;

          > span {
            color: #97e15b;
          }
        }

        > a {
          background-color: #97e15b;
          color: #033f35;
          font-weight: 600;
          padding: 0.5rem 2rem;
          border-radius: 35px;
          max-width: 350px;
          display: block;
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
          transition: all 0.3s ease;
          font-size: 1rem;
          white-space: nowrap;
          text-align: center;
          cursor: pointer;
          border: none;
          -webkit-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
          -moz-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
          box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);

          &:active {
            transform: scale(0.95);
          }

          &:hover {
            color: #99e775;
            background-color: #033f35;
          }
        }
      }

      > .map-container {
        width: 100%;
        max-width: 550px;
        position: relative;
        gap: 2rem;
        border-radius: 2.5rem;

        > #map {
          width: 100%;
          max-height: 400px;
          position: unset;
          overflow: hidden;
          border-radius: 15px;
          height: auto;

          > a {
            overflow: hidden;
            display: block;

            > img {
              transform: translate(0%, 0%);
              width: 100%;
              height: 100%;
              border-radius: 15px;
              transition: all 0.3s ease;
            }
          }
        }

        > .layer_back {
          > .layer_back_p {
            margin: 0;
            position: absolute;
            font-size: 1.5rem;
            z-index: 90;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }

          > .mapboxgl-control-container {
            display: none;
          }
        }

        &:hover {
          > #map {
            > a {
              > img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }

    > picture {
      width: 100%;
      height: 100px;
      position: relative;
      overflow: hidden;
      margin-top: -6rem;

      > img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    /* Popup */
    .popup-content {
      text-decoration: none;
      text-align: center;
      font-family: Poppins, sans-serif;
      position: relative;
      height: 100%;
      display: block;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      > img {
        width: auto;
        /* height: 220px; */
        height: 290px;
        border-radius: 19px;
        /* border-radius: 5px;
              margin-bottom: 0px;
              max-width: 190px; */
      }

      > div {
        border-radius: 19px;
        background-color: #e8e8e8;
        position: absolute;
        bottom: -8px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 5px;
        padding: 0.55rem 1rem;
        color: #033f35;
        display: flex;
        gap: 0.4rem;

        > .name {
          font-size: clamp(1rem, 1.6vw, 1.3rem);
          width: 50%;
        }

        > .address {
          font-size: clamp(0.45rem, 0.65rem, 0.7rem);
          text-wrap-style: balance;
          line-height: 1.1;
          text-align: left;
          font-weight: 700;
          display: flex;
          gap: 0.25rem;
          align-items: center;

          > img {
            /* width: 14px; */
            height: 1rem;
            display: block;
          }
        }
      }

      > span {
        display: block;
        font-size: 8px;
        color: #033f35;
        border-radius: 35px;
        padding: 0.1rem;
        font-weight: 700;
      }

      > strong {
        font-size: 18px;
        color: #033f35;
        display: block;
        margin-bottom: 5px;
      }

      > .location {
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: white;
        font-weight: 700;
        font-size: clamp(0.4rem, 0.7vw, 0.65rem);
        padding: 0 0.3rem;
      }

      > .status {
        background-color: #97e15b;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: 700;
        font-size: clamp(0.4rem, 0.7vw, 0.65rem);
        padding: 0 0.3rem;
      }
    }

    .custom-popup {
      border-radius: 2rem;
      z-index: 30;
      top: 44px !important;
      left: -19px !important;
    }

    .mapboxgl-popup-content {
      border-radius: 16px !important;
      text-align: center;
      padding: 0;
      background: none;
    }

    /* Responsive */
    @media (min-width: 1000px) {
      padding: 1rem 0rem 0rem;
      margin-top: 1rem;

      > .map-section__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .map-data {
          max-width: 300px;
          text-align: left;

          > a {
            margin: 0 0 -2.3rem 0;
          }
        }

        > .map-container {
          max-width: initial;

          > a {
            > #map {
              height: 400px;
            }
          }
        }
      }

      > img {
        z-index: 0;
        width: 100%;
        height: auto;
        bottom: -2rem;
        position: absolute;
      }
    }
  }
}

@media (max-width: 1440px) {
  .project-section {
    /* padding: 70px 240px; */

    h2 {
      /* font-size: 40px; */
      max-width: 960px;
    }

    .content {
      height: auto;
      max-height: 681px;
      max-width: 960px;

      picture {
        max-width: 514px;
        width: 100%;
        max-height: 681px;
      }

      .areas-container {
        max-width: 420px;
        max-height: 681px;

        h3 {
          font-size: 28px;
        }

        .areas {
          gap: 16px;
        }
      }
    }

    .options-container {
      max-width: 960px;
    }
  }
}

.video-section {
  padding: 0 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  interpolate-size: allow-keywords;
  display: flex;
  justify-content: center;

  &.active {
    padding: 80px 228px 0;
    height: 100%;

    & .video-container {
      width: 90%;
    }
  }

  & .video-container {
    display: flex;
    transition: width 0.5s ease 0.35s;
    interpolate-size: allow-keywords;
    width: 0;

    & lite-youtube {
      width: 100%;
      border-radius: 35px;
      height: 70vh;
    }
  }
}

/* Galería */
.gallery-section {
  text-align: center;
  padding: 2em 0;
  position: relative;
  overflow: hidden;

  & h2 {
    font-size: clamp(1rem, 3vw, 1.4rem);
    color: #033f35;
    margin: 2rem 0;
  }

  & .swipers {
    height: 70vh;

    & .mySwiper {
      height: 90%;
      width: 80%;
      margin: 0 auto;
      overflow: visible;

      & .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        width: 80%;
        margin: 0 auto;

        & picture {
          width: 100%;
          height: 100%;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &::before {
            content: "";
            width: 100%;
            height: 50%;
            background-image: -webkit-linear-gradient(
              bottom,
              rgba(35, 31, 32, 0.89),
              rgba(0, 0, 0, 0)
            );
            background-image: -moz-linear-gradient(
              bottom,
              rgba(35, 31, 32, 0.89),
              rgba(0, 0, 0, 0)
            );
            background-image: -o-linear-gradient(
              bottom,
              rgba(35, 31, 32, 0.89),
              rgba(0, 0, 0, 0)
            );
            background-image: -ms-linear-gradient(
              bottom,
              rgba(35, 31, 32, 0.89),
              rgba(0, 0, 0, 0)
            );
            background-image: linear-gradient(
              to top,
              rgba(35, 31, 32, 0.89),
              rgba(0, 0, 0, 0)
            );
            position: absolute;
            bottom: 0;
            left: 0;
          }

          & h3 {
            font-size: 50px;
            color: #fff;
            position: absolute;
            left: 65px;
            bottom: 15%;
            z-index: 2;
            /* text-transform: capitalize; */
          }
        }
      }

      & .swiper-button-prev,
      .swiper-button-next {
        z-index: 10;
        width: auto;
        height: auto;
      }

      & .swiper-button-prev {
        left: 50px;
      }

      & .swiper-button-next {
        right: 50px;
      }

      & .swiper-button-prev::after,
      .swiper-button-next:after {
        font-size: 55px;
        color: #fff;
        font-weight: 900;
      }
    }

    & .mySwiper2 {
      height: 18%;
      width: 50%;
      margin: -85px auto 0 auto;
      box-sizing: border-box;
      padding: 10px 0;
      overflow: hidden;
    }

    & .mySwiper2 .swiper-slide {
      width: 25%;
      height: 100%;
      border-radius: 5px;
      overflow: hidden;
      opacity: 0.9;
      cursor: pointer;
      position: relative;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::before {
        content: "";
        width: 100%;
        height: 50%;
        background-image: -webkit-linear-gradient(
          bottom,
          rgba(35, 31, 32, 0.89),
          rgba(0, 0, 0, 0)
        );
        background-image: -moz-linear-gradient(
          bottom,
          rgba(35, 31, 32, 0.89),
          rgba(0, 0, 0, 0)
        );
        background-image: -o-linear-gradient(
          bottom,
          rgba(35, 31, 32, 0.89),
          rgba(0, 0, 0, 0)
        );
        background-image: -ms-linear-gradient(
          bottom,
          rgba(35, 31, 32, 0.89),
          rgba(0, 0, 0, 0)
        );
        background-image: linear-gradient(
          to top,
          rgba(35, 31, 32, 0.89),
          rgba(0, 0, 0, 0)
        );
        position: absolute;
        bottom: 0;
        left: 0;
      }

      & h3 {
        position: absolute;
        bottom: 0.5rem;
        color: #fff;
        font-size: clamp(0.5em, 1vw, 1.5em);
        font-weight: 500;
        left: 0.5rem;
        text-align: left;
        /* text-transform: capitalize; */
      }
    }

    & .mySwiper2 .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  & .justified-gallery {
    display: none;
  }
}

/* Modal para ver imagen en grande */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  animation: fadeIn 0.5s forwards;

  & .overlay-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100dvh;
    position: absolute;
  }
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content .modal-image {
  width: 85%;
  height: 85%;
  border-radius: 12px;
  position: relative;
  transform: scale(0.8);
  animation: zoomIn 0.5s forwards;

  & img {
    width: 100%;
    height: 100%;
  }

  & > span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em 1em;
    background: #000;
    color: #fff;
    text-transform: capitalize;
    border-top-right-radius: 8px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  to {
    transform: scale(1);
  }
}

/* SECCIÓN OTOS PROYECTOS */

.otros-proyecto {
  padding: 80px 160px 160px 160px;

  & h2 {
    font-size: 59px;
    font-weight: 400;
    color: #033f35;

    & span {
      font-weight: 500;
    }
  }

  & .otros-seccion_conoce {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .project_cards {
      height: fit-content;
      width: auto;
      display: flex;
      justify-content: end;
    }

    & h3 {
      font-weight: 400;
      font-size: 64px;
      color: #033f35;

      & span {
        font-weight: 500;
      }
    }

    /* & .project-card {
      margin: 0;
      max-width: 408px;
      width: 100%;
      max-height: 570px;

      & a {
        width: 100%;
        height: 100%;

        & .card-content {
          height: 100%;

          & picture {
            width: 100%;

            & .project-image {
              width: 100%;
              object-fit: cover;
            }
          }

          & .card-body {
            width: 100%;
          }
        }
      }
    } */
  }
}

@media (min-width: 764px) and (max-width: 1400px) {
  main {
    /* & .intro-section {
      height: 70dvh;
    } */

    & .intro-container2 {
      bottom: -30%;

      & picture {
        padding: 1em 1.5em;
        min-width: 150px;

        & img {
          max-height: 80px;
        }
      }

      & .info {
        & .top {
          & > div {
            padding: 1rem 0 1rem 1rem;
            gap: 8px;

            & svg {
              width: 16px;
              min-width: 16px;
            }
          }

          & .top_status {
            font-size: 0.85rem;
          }

          & span {
            font-size: 0.85rem;
          }
        }

        & .bottom {
          & .rooms {
            justify-content: flex-start;
            gap: 8px;
            padding: 0.5rem 0.5rem 0.5rem 1rem;

            & svg {
              width: 24px;
            }

            & div {
              & span {
                font-size: 0.85rem;
              }
            }

            & P {
              font-size: 14px;
            }
          }

          & .size {
            gap: 14px;
            justify-content: flex-start;

            & svg {
              width: 28px;
            }
            & p {
              font-size: 14px;
              & span {
                font-size: 0.85rem;
              }
            }
          }

          & .pricing {
            font-size: 14px;

            & span {
              font-size: 0.85rem;
            }
          }
        }
      }

      & .data {
        & div {
          & span {
            font-size: 14px;
          }

          & img {
            width: 21px;
            height: 20px;
            margin-right: 0.1rem;
          }
        }
      }

      & .financia {
        padding: 1em;

        & p {
          font-size: 1rem;
        }

        & img {
          max-height: 90px;
        }
      }
    }

    & .project-section {
      padding: 2em 0;
      max-height: none;
      max-width: 1250px;
      margin: 0 auto;
      width: 80%;

      & .content {
        height: auto;
        max-height: none;

        & picture {
          width: 50%;
        }

        & .areas-container {
          width: 43%;
          max-width: none;

          & > span {
            font-size: 32px;
            padding: 0 0 0 48px;
          }

          & h3 {
            font-size: 22px;
          }

          & .areas {
            margin-top: 1em;
            gap: 0.5rem 4px;

            & .areas-icon {
              height: auto;

              & img {
                width: 40% !important;
              }

              & span {
                width: 90%;
              }
            }
          }
        }
      }
    }

    & .video-section {
      &.active {
        padding: 2em 10em 0;
      }
    }

    & .recorrido-section {
      padding-top: 3em;
    }

    & .asesores-section {
      margin: 3em 10%;

      & h2 {
        /* font-size: 40px; */
        margin: 0 auto;
        width: 90%;
      }

      & .asesores-article__container {
        justify-content: space-evenly;
        gap: 1rem;
        margin: 2em auto 1em;
        width: 100%;

        & .article {
          width: auto;
          max-width: 380px;
          padding: 1.5rem 2rem;
          gap: 1.5rem;

          &::before {
            width: 20px;
            height: 40px;
          }

          & picture {
            width: 64px;
            height: 64px;
            display: flex;
            min-width: 64px;
            min-height: 64px;

            & .article-img {
              width: 100%;
            }
          }

          & div {
            /* width: 45%; */
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;

            & .name {
              font-size: 18px;
            }

            & .cargo {
              font-size: 11px;
            }

            & .email_container {
              width: 100%;
              flex-direction: row;
              margin-top: 10px;

              & img {
                width: 20px;
                height: 13px;
              }

              & span {
                font-size: 12px;
              }
            }

            & .phone_container {
              width: 100%;
              flex-direction: row;
              margin-top: 10px;

              & img {
                width: 19px;
                height: 19px;
              }

              & span {
                font-size: 12px;
              }
            }

            & .asesor-contact-button {
              font-size: 14px;
              padding: 10px 22px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    & .otros-proyecto {
      /* padding: 0 6em 3em; */
      padding: 3em 6em;

      & h2 {
        font-size: 36px;

        & span {
          font-weight: 600;
        }
      }

      & .otros-seccion_conoce {
        & h3 {
          font-size: 36px;
        }

        & .project-card {
          width: auto;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 16px 16px 0 0;

          & a {
            & .card-content {
              margin: 0;

              & picture {
                width: 100%;
                height: 370px;

                & .project-image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }
  }

  & .gallery-section {
    & h2 {
      font-size: 36px;
      margin-bottom: 1.3em;
    }

    & .swipers {
      height: 80vh;

      & .mySwiper {
        & .swiper-button-prev,
        .swiper-button-next {
          transition: transform 0.3s ease;
        }

        & .swiper-button-prev:hover,
        .swiper-button-next:hover {
          transform: scale(1.1);
        }

        & .swiper-button-prev::after,
        .swiper-button-next:after {
          font-size: 40px;
          color: #fff;
          font-weight: 900;
        }

        & .swiper-slide {
          & picture {
            & h3 {
              font-size: 36px;
              left: 45px;
              bottom: 13%;
            }
          }
        }
      }

      & .mySwiper2 {
        margin: -45px auto 0 auto;
      }
    }
  }

  .modal-content .modal-image {
    width: 80%;

    & img {
      object-fit: cover;
    }
  }
}

@media (max-width: 764px) {
  main {
    & .intro-section {
      height: auto;
      flex-direction: column;

      > h3 {
        top: 25%;
      }
    }

    & > picture {
      height: 40dvh;
    }

    & .intro-container {
      flex-direction: column;
      width: 80%;
      height: auto;
      margin: 1.5rem auto 0;
      position: initial;
      transform: none;
      background: #033f35;
      border-radius: 12px;

      & .title {
        padding-right: 0;

        & span {
          font-size: 11px;
          text-align: center;
        }

        & h1 {
          font-size: 20px;
          text-align: center;
        }
      }

      & .data {
        width: 100%;
        padding: 0 0.6rem;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5px 20px;
        margin-top: 0.5em;
        justify-content: flex-start;

        & div {
          & span {
            font-size: 10px;
          }

          & img {
            width: 17px;
            height: 16px;
            margin-right: 0.1rem;
          }
        }
      }
    }

    /* & .intro-container2 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      bottom: -380px;

      & picture {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-right: none;
        border-bottom: 3px #dedede solid;
        padding: 20%;
      }

      & .financia {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: center;
        padding: 1em;
      }

      & .info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        & .top {
          grid-column: span 2;
          display: flex;
          justify-content: space-between;
          font-size: 22px;
          font-weight: 500;
          color: #0e3f35;

          & .top_status {
            font-size: 1.3rem;
            font-weight: 600;
          }

          & div {
            border-right: 3px #dedede solid;
            width: 50%;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            gap: 16px;

            & svg {
              width: 20px;
              min-width: 20px;
              height: auto;
            }
          }

          & span {
            text-wrap-style: pretty;
            font-size: 1.1rem;
            font-weight: 600;
          }
        }

        & .bottom {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto 1fr;
          gap: 1rem;

          & > div {
            border-right: 3px #dedede solid;
            border-top: 3px #dedede solid;
            display: flex;
            align-items: center;
            font-weight: 600;
            padding: 0.5rem 1.5rem;
            font-size: 1.18rem;

            &:nth-child(3) {
              grid-column: 1 / -1;
              grid-row: 2 / 3;
              border-right: none;
            }
          }

          & .rooms,
          & .size,
          & .pricing {
            gap: 10px;
            display: flex;
            justify-content: center;

            & svg {
              width: 40px;
              height: auto;
            }

            & div,
            & p {
              font-size: 20px;

              & span {
                font-weight: 600;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    } */

    & .project-section {
      max-height: none;
      padding: 0 1.5rem;
      margin-top: 2em;

      & h2 {
        max-height: none;
        text-align: center;
        font-size: 24px;
      }

      & .content {
        display: flex;
        max-width: none;
        max-height: none;
        flex-direction: column;
        height: auto;
        margin: 1em 0;

        & picture {
          max-width: none;
          max-height: none;
          width: 90%;
          margin: 0 auto;
          height: auto;
        }

        & .areas-container {
          max-width: none;
          width: 90%;
          max-height: none;
          margin: 1rem auto 0;

          & > span {
            font-size: 24px;
            font-weight: 500;
            padding: 0;
          }

          & h3 {
            font-size: 15px;
            padding: 0;
          }

          & .areas {
            width: 100%;
            padding-left: 0;
            margin: 1em 0;
            gap: 0.5rem 0.2rem;

            & .areas-icon {
              & span {
                font-size: 10px;
              }
            }
          }
        }
      }

      & .options-container {
        border-radius: 8px;
        overflow: hidden;
        width: 90%;

        & .actions {
          width: 50%;
          flex-direction: column;
          padding: 1rem;
          gap: 10px;
          align-items: flex-start;

          & h3 {
            font-size: 10px;

            & span {
              font-size: 18px;
            }
          }

          & button {
            font-size: 8px;
            border: 1px #fff solid;
          }
        }

        & .download-brochure {
          width: 50%;

          & svg {
            width: 25px;
            height: 25px;
          }

          & span {
            font-size: 12px;
          }
        }
      }
    }

    & .video-section {
      padding: 0;

      &.active {
        padding: 2rem 0 0;
        height: 100%;

        & .video-container {
          width: 80%;
        }
      }

      & .video-container {
        iframe {
          width: 100%;
          border-radius: 20px;
          border: 1px #000 solid;
          height: 45vh;
        }
      }
    }

    & .recorrido-section {
      padding-top: 2em;

      & > iframe {
        height: 45vh;
        border-radius: 0;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.26) 0px 22px 70px 4px;
      }

      & .iframe-options {
        display: grid;
        grid-template-rows: repeat(3, 1fr);

        & button {
          width: 100%;
        }
      }

      & .iframe-soil {
        & iframe {
          width: 75%;
          height: 75dvh;
          margin: 0 auto;
          display: flex;
          border-radius: 36px;
          height: 45vh;
          border-radius: 0;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.26) 0px 22px 70px 4px;
        }
      }
    }

    & .asesores-section {
      display: flex;
      flex-direction: column;
      margin: 1rem;

      & h2 {
        font-size: 24px;
        text-align: center;
        font-weight: 500;
        margin: 1em auto;

        & span {
          font-weight: 700;
        }
      }

      & .asesores-article__container {
        margin: 0;
        margin: 1em 0 0;
        flex-direction: column;

        & .article {
          flex-direction: column;
          width: 80%;
          margin: 0 auto;

          &::before {
            right: 2em;
          }

          & picture {
            width: 100%;
            height: 250px;
            border-radius: 20px;
            overflow: hidden;

            & .article-img {
              width: auto;
              height: 100%;
              object-fit: contain;
            }
          }

          & div {
            & .name {
              font-size: 18px;
            }

            & .cargo {
              font-size: 11px;
            }

            & .email_container {
              & img {
                width: 20px;
                height: 14px;
              }

              & span {
                font-size: 12px;
              }
            }

            & .phone_container {
              & img {
                width: 25px;
              }

              & span {
                font-size: 12px;
              }
            }

            & .asesor-contact-button {
              font-weight: 600;
              font-size: 12px;
              padding: 0.7em 2em;
              margin: 2em auto 0;
            }
          }
        }
      }
    }

    & .otros-proyecto {
      display: none;
    }
  }

  .swiper-container {
    width: 90%;
    height: 50vh;
  }

  .gallery-section {
    & h2 {
      font-size: 30px;
    }

    & .swipers {
      display: none;
    }

    & .justified-gallery {
      width: 90%;
      display: flex;
      margin: 0 auto;

      & .masonry-grid {
        display: flex;
        gap: 0.8rem;

        & .masonry-column {
          & .gallery-item {
            width: 100%;
            display: inline-flex;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 0.7rem;

            & img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }

            /* &:nth-child(2),
          &:nth-child(8),
          &:nth-child(14) {
            grid-row-end: span 2;
          }

          &:nth-child(4),
          &:nth-child(12) {
            grid-column: span 2;
          } */
          }
        }
      }
    }
  }

  .modal-content .modal-image {
    width: 90%;
    height: auto;

    & img {
      height: auto;
    }
  }
}

@media (min-width: 550px) and (max-width: 850px) {
  main {
    > .intro-section {
      > h3 {
        top: 50%;
      }
    }
    & .info-section {
      & .info-container {
        & .promo {
          width: auto;
          height: 32px;
          top: -32px;
          padding: 0 1rem;
        }

        & .logo {
          flex-basis: 100%;
          max-width: 100%;
          border-bottom: 1px solid var(--gris-claro-color);

          & picture {
            width: 25%;
          }
        }
        & .info {
          flex-basis: 75%;
          max-width: 75%;
          order: 2;
          border-top: none;

          & .rows {
            & .status {
              & h3 {
                font-size: clamp(0.75em, 2vw, 3em);
              }
            }
            & .rooms,
            & .size,
            & .pricing {
              min-height: 5rem;
              flex-basis: 33.3333333333%;
              max-width: 33.3333333333%;
              border-left: 1px solid var(--gris-claro-color);
              border-bottom: none;
            }

            & .rooms {
              & > div {
                & p {
                  font-size: clamp(0.8em, 1.5vw, 1em);
                }
              }
            }

            & .size {
              & > div {
                & p {
                  font-size: clamp(0.8em, 1.5vw, 1em);
                }
              }
            }

            & .pricing {
              border-top: none;

              & > div {
                align-items: flex-start;
                flex-direction: column;

                & p {
                  font-size: clamp(0.7em, 1vw, 1em);
                }

                & h3 {
                  font-size: clamp(1em, 2.5vw, 1.5em);
                  margin: 0;
                }
              }
            }
          }
        }

        & .financia {
          flex-basis: 25%;
          max-width: 25%;
          order: 3;
          align-items: center;
          display: flex;

          & > div {
            & p {
              font-size: clamp(0.7em, 1vw, 3em);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 851px) {
  main {
    > .intro-section {
      > h3 {
        top: calc(50% - 40px);
        font-size: clamp(1.45rem, 3vw, 3.5rem);
      }
    }
    & .info-section {
      & .info-container {
        flex-basis: 85%;
        max-width: 1250px;

        & .promo {
          width: auto;
          height: 40px;
          top: -39px;
          padding: 0 1rem;
        }

        & .logo {
          flex-basis: 25%;
          max-width: 25%;
          display: flex;

          & picture {
            width: 70%;
            align-self: center;
          }
        }

        & .info {
          flex-basis: 58.3333333333%;
          max-width: 58.3333333333%;
          order: 2;
          border-top: none;

          & .rows {
            & .status,
            & .location {
              border-left: 1px solid var(--gris-claro-color);
              padding-left: 1.5rem;
              border-bottom: 1px solid var(--gris-claro-color);
              min-height: 5rem;
            }

            & .rooms,
            & .size,
            & .pricing {
              flex-basis: 33.3333333333%;
              max-width: 33.3333333333%;
              border-left: 1px solid var(--gris-claro-color);
              padding-left: 1rem;
              min-height: 5rem;
              border-bottom: none;
            }

            & .status {
              & h3 {
                font-size: clamp(0.75em, 1.25vw, 1.15em);
                text-align: left;
              }
            }

            & .location {
              & p {
                & svg {
                  width: 32px;
                  min-width: 32px;
                }

                & span {
                  font-size: clamp(0.75rem, 1.25vw, 1.15rem);
                  & strong {
                    font-size: clamp(0.75rem, 1.25vw, 1.15rem);
                    text-align: left;
                  }
                }
              }
            }

            & .rooms {
              & > div {
                & svg {
                  width: 28px;
                  min-width: 28px;
                }
              }
            }

            & .size {
              & svg {
                width: 32px;
                min-width: 32px;
              }
            }

            & .pricing {
              border-top: none;

              & > div {
                align-items: flex-start;
                flex-direction: column;
                margin: 0;

                & p {
                  font-size: clamp(0.7em, 1.35vw, 1em);
                }

                & h3 {
                  margin-left: 0;
                  font-size: clamp(1.3em, 1.2vw, 1.5em);
                }
              }
            }
          }
        }

        & .financia {
          flex-basis: 16.6666666667%;
          max-width: 16.6666666667%;
          order: 3;
          padding: 1rem;

          & > div {
            & p {
              font-size: clamp(0.8em, 1.5vw, 1.1em);
            }
            & picture {
              margin: 1rem auto;
            }
          }
        }
      }
    }
  }
}

/* @media screen and (min-width: 850px) {
  .intro-container2 {
    flex-flow: row wrap;
    display: flex;

    & picture {
      flex-basis: 25%;
      max-width: 25%;
    }

    & .info {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%;
    }

    & .financia {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%;
    }
  }
} */

@media (min-width: 800px) and (max-width: 1400px) {
  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 12px;
  }
}
