html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a.tomtomAttribution {
  display: none !important;
  visibility: hidden !important;
}

input,
button,
select,
textarea {
  font-family: inherit !important;
}

body {
  color-scheme: light dark;
}

main {
  margin: 80px auto 0;
}
