.location-section {
  display: flex;
  padding: 4rem 0 0px;

  & .location-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1080px;
    margin: 0 auto;
    width: 80%;
    background: #f4f8fb 0% 0% no-repeat padding-box;
    border-radius: 30px;
    gap: 1.5rem;

    & .iframe-container {
      display: flex;
      position: relative;

      & iframe {
        width: 100%;
        aspect-ratio: 4 / 3;
        height: auto;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        overflow: hidden;
        z-index: 2;
      }

      & .leafs-aquamarine {
        position: absolute;
        width: 80px;
        left: -45px;
        top: 50px;
        z-index: 1;
      }
    }

    & .info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      & .location-green-leaf {
        position: absolute;
        right: -20px;
        width: 100px;
        bottom: 40px;
      }

      & h2 {
        color: #033f35;
        font-size: clamp(1rem, 3vw, 1.4rem);
        font-weight: 600;
        margin-top: 2rem;
      }

      & span:first-of-type {
        display: flex;
        color: #033f35;
        font-weight: 400;
        font-size: 18px;
        border-bottom: solid 1px rgba(182, 210, 205, 0.5);
        padding: 1rem 0;
        width: fit-content;
        margin-top: -1rem;
        gap: 5px;

        & img {
          width: 18px;
          height: auto;
        }
      }

      & .sala-ventas,
      & .horario {
        display: flex;
        flex-direction: column;
        color: #033f35;
        font-weight: 400;
        font-size: 18px;
        position: relative;
        z-index: 10;

        & strong {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }

      & .buttons-container {
        display: flex;
        gap: 10px;
        margin-bottom: 1.5rem;

        & a {
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          height: 70px;

          & img {
            width: auto;
            height: 35px;
          }

          &:first-of-type {
            background: #ffffff;
            border: 1px solid #d2e6e2;
          }

          &:last-of-type {
            background: #30c2f2;
            border: 1px solid #30c2f2;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .location-section {
    & .location-container {
      grid-template-columns: 1fr;
      > .info-container {
        gap: 0.5rem;
      }
    }
  }
}
