.proyectos-section {
  padding: 0 2rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;

  > .proyectos-section__container {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    > .double_container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 0.5rem 3.5rem;

      > .second_container {
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;

        > .proyectos-section__card {
          position: relative;

          > .proyectos-section__location {
            position: absolute;
            line-height: 1;
            left: -2rem;
            top: 75%;
            transform: translate(-50%, -50%) rotate(-90deg);

            /* display: flex;
            justify-content: space-evenly;
            width: 100%;
            align-items: baseline; */

            > .building-name {
              font-size: 2rem;
              font-weight: 600;
              color: #033f35;
              display: inline;
            }

            > img {
              width: 21px;
              height: auto;
              display: inline;
              margin: 0 0.2rem;
            }

            > .building-adress {
              font-size: 14px;
              color: #033f35;
              font-style: normal;
              display: inline;
            }
          }

          > .card_content {
            position: relative;
            display: block;

            > .card_location {
              z-index: 10;
              position: absolute;
              top: 1rem;
              left: 1rem;
              background: white;
              color: black;
              font-weight: 700;
              border-radius: 35px;
              font-size: 0.5rem;
              padding: 0.4rem;
              color: #033f35;
            }

            > .card_status {
              z-index: 10;
              position: absolute;
              top: 1rem;
              right: 1rem;
              background: #99e775;
              color: black;
              font-weight: 700;
              border-radius: 35px;
              font-size: 0.5rem;
              padding: 0.4rem;
              color: #033f35;
            }

            > .card_img {
              width: 16rem;
              height: auto;
              border-radius: 22px 22px 0 0;
              overflow: hidden;
              position: relative;

              > img {
                width: 100%;
                height: auto;
                transition: transform 0.3s ease;
              }

              > .icon-container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                /* Ajusta según el tamaño de la imagen */
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(-50%, -50%) scale(0);
                /* Oculto inicialmente */
                opacity: 0;
                transition: transform 0.3s ease-out, opacity 0.3s ease-out;

                > img {
                  width: 100px;
                  /* Se ajusta al contenedor */
                  height: auto;
                }
              }
            }

            > .card_data {
              border-radius: 20px;
              background: white;
              position: absolute;
              left: 0;
              bottom: -4.5rem;
              width: 100%;
              padding: 1rem 1rem 0.5rem;

              -webkit-box-shadow: 0px 25px 105px -37px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 25px 105px -37px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 25px 105px -37px rgba(0, 0, 0, 0.75);

              > .card_size {
                display: flex;
                padding: 0 0 0.5rem 0;
                border-bottom: 2px #8c9e9a solid;

                > div {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  color: #193e35;
                  font-size: 12px;
                  font-weight: 700;

                  align-items: center;

                  > img {
                    width: 21px;
                    height: auto;
                    margin-right: 0.5rem;
                  }

                  > span {
                    margin-right: 0.25rem;
                    font-weight: 600;
                  }
                }
              }

              > .card-group__data {
                display: flex;
                padding: 0.5rem 0;

                > .card_price,
                > .card_bedrooms {
                  width: 100%;
                  display: flex;
                  gap: 0.5rem;
                  color: #193e35;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  font-weight: 700;

                  > div {
                    text-align: center;

                    > span {
                      font-weight: 600;
                      text-align: center;
                    }
                  }
                }

                > .card_bedrooms {
                  border-right: 2px solid #8c9e9a;

                  > img {
                    width: 21px;
                    height: auto;
                  }
                }

                > .card_price {
                  > div {
                    > span {
                      font-size: 14px;
                    }
                  }
                }
              }
            }

            &:hover {
              > .card_img {
                > img {
                  transform: scale(1.1);
                }

                > .icon-container {
                  transform: translate(-50%, -50%) scale(1.25);
                  /* Crece un poco */
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  > .proyectos-section__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    > a {
      background-color: #97e15b;
      color: #033f35;
      font-weight: 600;
      padding: 0 2rem;
      display: flex;
      height: 3rem;
      border-radius: 35px;
      max-width: 350px;
      width: auto;
      transition: all 0.3s ease;
      font-size: 1rem;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      border: none;
      -webkit-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
      -moz-box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
      box-shadow: 0px 10px 27px -15px rgba(0, 0, 0, 1.75);
      align-items: center;
      margin: -1.5rem auto 0;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        color: #99e775;
        background-color: #033f35;
      }
    }

    > img {
      width: auto;
      height: 100px;
      position: absolute;
    }
  }

  > .laterales {
    position: absolute;
    top: 0;
    width: 120px;
    height: auto;
    z-index: -1;

    &.lateral_izq {
      left: 2%;
    }

    &.lateral_der {
      right: 2%;
    }
  }

  @media (min-width: 1000px) {
    /* padding: 0 16rem; */

    > .proyectos-section__container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-around;

      > .double_container {
        width: 100%;

        .second_container {
          /* flex: 1 1 49%; */
          /* Cada elemento ocupa el 50% del ancho */
          min-width: 250px;

          > .proyectos-section__card {
            width: fit-content;

            > .card_content {
              > .card_img {
                width: 350px;
              }

              > .card_location {
                font-size: 0.7rem;
              }

              > .card_status {
                font-size: 0.7rem;
              }

              > .card_data {
                > .card_size {
                  > div {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }

    > .proyectos-section__button {
      > a {
      }

      > img {
        z-index: -10;
        width: 100%;
        height: auto;
      }
    }
  }
}
